body{
    margin:5px;
}
/*header*/
header{
    height: 100px;
    background-color: #3BAAE6;
    margin:0;
    border-bottom: solid 15px #8ACEF2;

}
h1{
    padding-top: 30px;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    color: #02344E;
    
}
/*navbar*/
nav{
    display: block;
    margin: 10px 0;
    padding: 0;
    border-bottom: solid 1px #9E3EE9;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul>li{
    float: left;
    width: 19.9999%;
    font-size: 1.5em;
}
ul>li a{
    display: block;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    
}
ul>li a:hover{
    background-color: #300353;
    color: white;
}
main{
    margin: auto;
    width: 80%;
    text-align: center;
    clear: both;

}

h2{
    font-family: 'Philosopher', sans-serif;
    margin: 1em;
    color: #7B7700;
    border-bottom: solid 1px #FFF937;
    padding-bottom: 1em;


}
p, ol{
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
    color: #7B4300;
    text-align: left;
}

table{
    margin: auto;
    width: 50%;
}
table, th, td{
    border: 1px solid #7D07D8;
    border-collapse: collapse;
}
td, th{
    padding: 10px;
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    background-color: #FFF700;
    color: #7B4300;
}

/*galereya*/
div.gallery{
    margin: 5px;
    float: left;
    width: 180px;

}
div.gallery img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: solid 1px #FFF700;
    padding: 5px;
    
}
div.gallery img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    display: inline;
}
article{
    clear: both;
}

/* footer */
footer{
    height: 100px;
    background-color: #3BAAE6;
    margin: auto;
}
footer>p{
    padding: 10px 0;
    text-align: center;
    font-size: 2em;
    
}